<html>
  <head></head>
  <body>
    <%# method="POST" %>
    <form action='/truth_table' method='POST'>

    <label for="true_symbol">True symbol:</label>
    <input type='text' name='truth_symbol' placeholder='ex. T' /><br>

    <label for="false_symbol">False symbol:</label>
    <input type='text' name='false_symbol' placeholder='ex. F' /><br>

    <label for="size">Size(2^x):</label>
    <input type='text' name='size' placeholder='ex. 3' /><br>

    <input type='submit' value='Show truth table' />
    
    </form>
    
    <a href='/'>Reload Page</a>

  </body>
</html>
