<html>
  <head></head>
  <body>
    <table>
    <%length = size-1%>
    <%while length >= 0%>\
      <%length = length-1%>
    <% end %>
  <tr>
    <th id="and" scope="col">AND</th>
    <th id="or" scope="col">OR</th>
    <th id="nand" scope="col">NAND</th>
    <th id="nor" scope="col">NOR</th>
    <th id="xor" scope="col">XOR</th>
    <th id="single" scope="col">SINGLE</th>
  </tr>

      
      
      
      
      
</table>
<a href='/'>Main Page</a>
</body>
</html>
